

.home {
    background-image: url("/assets/view-01.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;

}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    margin-top: 50%;
}

.list {
    background-image: url("/assets/view-02.png");
    background-size: 80%;
    background-color: black;
    background-repeat: no-repeat;
    color: white;
    padding-top: 25vh;


}
.tittle-list{
    font-size: 5em;
}

.panel-list{
    display: flex;
    flex-direction: column;
    padding-left:40%;

}
.button-list{
    padding-left: 90.3%;
    padding-top: 0.5%;

}

table{
    width:100%;

}

tr{
    color: white
}

input{
    border-radius: 1vh;
    width: 30%;
    height: 120%;
}

.form {
    background-image: url("/assets/view-02.png");
    background-size: 80%;
    background-color: black;
    background-repeat: no-repeat;
    color: white;
    padding-top: 15vh;
    text-align: right;
}

.tittle-form{
    font-size: 5em;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    margin-right: 20%;
    margin-top: 5%;
}

.tittle-edit{
    font-size: 5em;
}

.edit {
    background-image: url("/assets/view-02.png");
    background-size: 80%;
    background-color: black;
    background-repeat: no-repeat;
    color: white;
    padding-top: 15vh;
    text-align: right;
}