

.home {
    background-image: url("/assets/view-01.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;




}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    margin-top: 50%;
}



.list {
    background-image: url("/assets/view-02.png");
    background-size: 70%;
    background-color: black;
    background-repeat: no-repeat;
    color: white;
    padding-top: 15vh;
    text-align: right;
}
tr{
    color: white
}
input{
border-radius: 1vh;
}

.form {
    background-image: url("/assets/view-02.png");
    background-size: 70%;
    background-color: black;
    background-repeat: no-repeat;
    color: white;
    padding-top: 15vh;
    text-align: right;
}

.edit {
    background-image: url("/assets/view-02.png");
    background-size: 70%;
    background-color: black;
    background-repeat: no-repeat;
    color: white;
    padding-top: 15vh;
    text-align: right;
}