<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" type="static/view/style/css"/>
    <title>CONSULTORY</title>

</head>
<body>

<img src="../assets/view-02.png" width="1235"
     th:src="@{view/view-02.png}"/>



<form>

  <button class="btn btn-success" type="submit">Pedir Cita</button>
  &nbsp;<a class="btn btn-warning" th:href="@{/cita/mostrar}"></a>
  <button class="btn btn-success" type="submit">Ver Lista</button>
  &nbsp;<a class="btn btn-warning" th:href="@{/lista/mostrar}"></a>

</form>
</body>
</html>